.container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.post_box {
    width: 370px;
    height: 400px;
    border: 1px solid #DFE5EE;
    background: #F7F8FA;
    flex-shrink: 0;
    margin: 0 15px;
}
.post_subject {
    width: 368px;
    height: 66.667px;
    background: #FFF;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subject_innerbox {
    width: 332px;
    height: 24px;
    flex-shrink: 0;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.subject_innerbox > a {
    width: 22px;
    height: 22px;
    background: url("/static/img/right-arrow-index.png");
    flex-shrink: 0;
    float: right;
}
.posts {
    width: 368px;
    height: 63px;
    border: 1px solid #F3F4F8;
    background: #FFF;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_textbox {
    display: flex;
    width: 245px;
    height: 24px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-overflow: ellipsis;
}
.post_infobox {
    display: flex;
    width: 88px;
    height: 40px;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #A8AAAE;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    text-overflow: ellipsis;
}
.subject_select {
    display: flex;
    width: 171px;
    height: 249px;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    float: left;
}
.subject_postbox {
    display: flex;
    width: 792px;
    height: 249px;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menubox {
    display: flex;
    width: 175px;
    height: 245px;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
}
.tab-subject {
    display: flex;
    width: 169px;
    height: 62px;
    background: #FFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #DFE5EE;
    cursor: pointer;
    color: black;
    text-align: center;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.tab-subject.current {
    display: flex;
    background: #4A5BAB;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
}
.tab-content {
    display: flex;
    width: 792px;
    height: 235px;
    background: #FFF;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    display: none;
}
.tab-content.current {
    display: inherit;
}
.tab_posts {
    display: flex;
    width: 779px;
    height: 42px;
    border-bottom: 1px solid #F5F6F9;
    align-items: center;
    flex-shrink: 0;
}
.tab_posts > .post_textbox {
    display: flex;
    width: 660px;
    height: 42px;
    border-bottom: 1px solid #F5F6F9;
    align-items: flex-start;
    flex-shrink: 0;
}
.menus {
    width: 173px;
    height: 61px;
    border: 1px solid #DFE5EE;
    background: #FFF;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #000;
    font-family: Noto Sans KR;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.menus:hover {
    width: 173px;
    height: 61px;
    border: 1px solid #4A5BAB;
    background: #FFF;
    flex-shrink: 0;
}
