{% extends 'base.html' %}
<head>
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  {% endblock %}
</head>
{% block content %}
<div class="container">
	<div class="post_box">
		<div class="post_subject">
			<div class="subject_innerbox">베스트 추천글<a href=""></a></div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 1입니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 2입니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 3입니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">
				<a href="">예시 글 긴거긴거긴거긴거긴거긴거긴거</a>
			</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
	</div>
	<div class="post_box">
		<div class="post_subject">
			<div class="subject_innerbox">공지사항<a href=""></a></div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
	</div>
	<div class="post_box">
		<div class="post_subject">
			<div class="subject_innerbox">자료게시판<a href=""></a></div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox"><a href="">예시 글 4니다.</a></div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="subject_select">
		<ul>
			<li class="tab-subject current" data-tab="korean">국어</li>
			<li class="tab-subject" data-tab="math">수학</li>
			<li class="tab-subject" data-tab="english">영어</li>
			<li class="tab-subject" data-tab="etc">탐구</li>
		</ul>
	</div>
	<div class="subject_postbox">
		<div class="tab-content current" id="korean">
			<div class="tab_posts">
				<div class="post_textbox"><a href="">예시 글 1입니다.</a></div>
				<div class="post_infobox">
					<div class="authorbox">윤규민</div>
					<div class="datebox">2023-08-02</div>
				</div>
			</div>
			<div class="tab_posts">
				<div class="post_textbox"><a href="">예시 글 1입니다.</a></div>
				<div class="post_infobox">
					<div class="authorbox">윤규민</div>
					<div class="datebox">2023-08-02</div>
				</div>
			</div>
			<div class="tab_posts">
				<div class="post_textbox"><a href="">예시 글 1입니다.</a></div>
				<div class="post_infobox">
					<div class="authorbox">윤규민</div>
					<div class="datebox">2023-08-02</div>
				</div>
			</div>
			<div class="tab_posts">
				<div class="post_textbox"><a href="">예시 글 1입니다.</a></div>
				<div class="post_infobox">
					<div class="authorbox">윤규민</div>
					<div class="datebox">2023-08-02</div>
				</div>
			</div>
			<div class="tab_posts">
				<div class="post_textbox"><a href="">예시 글 1입니다.</a></div>
				<div class="post_infobox">
					<div class="authorbox">윤규민</div>
					<div class="datebox">2023-08-02</div>
				</div>
			</div>
		</div>
		<div class="tab-content" id="math">수</div>
		<div class="tab-content" id="english">영</div>
		<div class="tab-content" id="etc">탐</div>
	</div>
	<div class="menubox">
		<a class="menus" href="">질문하기</a>
		<a class="menus" href="">내가 쓴 게시물</a>
		<a class="menus" href="">마이페이지</a>
		<a class="menus" href="">유튜브 바로가기</a>
	</div>
</div>
<script>
var tabItems = document.querySelectorAll('.tab-subject');

tabItems.forEach(tabItem => {
	tabItem.addEventListener('click',() => {
		var tab_id = tabItem.getAttribute('data-tab');

    tabItems.forEach(tab => {
      tab.classList.remove('current');
    });

    var tabContents = document.querySelectorAll('.tab-content');
    tabContents.forEach(content => {
      content.classList.remove('current');
    });

    tabItem.classList.add('current');
    document.getElementById(tab_id).classList.add('current');
	});
});
</script>
{% endblock %}