{% extends 'base.html' %}
<head>
  {% load static %}
  {% block extrahead %}
  <link rel="stylesheet" href="{% static 'index.css' %}">
  {% endblock %}
</head>
{% block content %}
<div class="container">
	<div class="post_box">
		<div class="post_subject">
			<div class="subject_innerbox">베스트 추천글<a href=""></a></div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 1입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 2입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 3입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 너무긴거어어어어어어어어어어어어어</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 4입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
	</div>
	<div class="post_box">
		<div class="post_subject">
			<div class="subject_innerbox">공지사항<a href=""></a></div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 1입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 2입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 3입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 너무긴거어어어어어어어어어어어어어</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 4입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
	</div>
	<div class="post_box">
		<div class="post_subject">
			<div class="subject_innerbox">자료게시판<a href=""></a></div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 1입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 2입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 3입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 너무긴거어어어어어어어어어어어어어</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
		<div class="posts">
			<div class="post_textbox">예시 글 4입니다.</div>
			<div class="post_infobox">
				<div class="authorbox">윤규민</div>
				<div class="datebox">2023-08-02</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}